<!DOCTYPE html>
<html>
    <head>
        <% include partials/_head %>
    </head>
    <body>
        <header>
            <% include partials/_header %>
        </header>
        <table>
            <% for (const url in urls) { %>
            <tr>
                <td>
                    <form class="form-control" action="/urls/<%= url %>/delete" method="post">
                        <%= url %> -> <%= urls[url] %>
                        <a class="btn btn-primary" href="/urls/<%= url %>">Edit</a>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            <% } %>
        </table>
    </body>
</html>
