<!DOCTYPE html>
<html>
    <head>
        <% include partials/_head %>
    </head>
    <body>
        <header>
            <% include partials/_header %>
        </header>
        <div class="jumbotron">
            <h1>Edit your TinyURL</h1>
        </div>
        <div class="container">
        <% if (!user) { %>
            <div class="alert alert-warning">
                <h1>You are not logged in!</h1>
                <p><a href="/login">Login</a> or <a href="/register">Register</a> to continue</p>
            </div>
        <% } else if (urls[shortURL].userID === user.id){%>
            <div class="card">
                <div class="card-block">
                    <h1>ShortURL: <strong><%= shortURL %></strong></h1>
                    <p>Created by <%= urls[shortURL].userID %></p>
                    <form class="form-group" method="POST" action="/urls/<%= shortURL %>?_method=PUT">
                        <input type="text" class="form-control" name="update" value="http://">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        <% } else { %>
            <div class="alert alert-warning">
                <h1>That TinyURL doesn't belong to you!</h1>
                <p>... but <a href="/urls">these ones</a> do</p>
            </div>
        <% } %>
        </div>
        <footer>
            <% include partials/_footer %>
        </footer>
    </body>
</html>
