<!DOCTYPE html>
<html>
    <head>
        <% include partials/_head %>
    </head>
    <body>
        <header>
            <% include partials/_header %>
        </header>
        <h1>ShortURL: <strong><%= shortURL %></strong></h1>
        <form class="form-group" action="/urls/<%= shortURL %>/update" method="post">
            <input type="text" name="update" value="http://">
            <button type="submit" class="btn btn-primary">Sumbit</button>
        </form>
    </body>
</html>
