<!DOCTYPE html>
<html>
    <head>
        <% include partials/_head %>
    </head>
    <body>
        <header>
            <% include partials/_header %>
        </header>
        <div class="jumbotron">
            <h1>Edit your TinyURL</h1>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-block">
                    <h1>ShortURL: <strong><%= shortURL %></strong></h1>
                    <form class="form-group" action="/urls/<%= shortURL %>/update" method="post">
                        <input type="text" class="form-control" name="update" value="http://">
                        <button type="submit" class="btn btn-primary">Sumbit</button>
                    </form>
                </div>
            </div>
        </div>
        <footer>
            <% include partials/_footer %>
        </footer>
    </body>
</html>
